header{
	width: auto;
	height: 50px;
	background-color: #00dbFF;
	font-size: 32px;
	font-family: "Consolas";
	box-shadow: 10px 10px 10px #bbbbbb;
}
div{
	margin: 60px;
	opacity: 0.8;
	border: all;
}